**/bin/
**/obj/
**/.idea/
*.DotSettings*
**/data/elasticsearch/
**/data/grafana/
**/data/kibana/
**/data/postgres/main/

**/data/postgres/performance/
**/Assets/K6Tests/*/archive/
**/Assets/K6Tests/*/results/
