bin/
obj/
.idea
*.DotSettings*
/data
/docs/inProgress
/docs/Technologies
/docs/.obsidian
/docs/_Thesis
/tests/Traditional/Traditional.PerformanceTests/Assets/K6Tests/*/archive
/tests/Traditional/Traditional.PerformanceTests/Assets/K6Tests/*/results
/thesis
/docs/TODOs and Timeline.md
